body {
  margin: 0;
}

article {
  margin: 5%;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 30px;
}

.container {
  background: red;
  position: absolute;
  height: 100%;
}
